<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UserManagement.Properties.Settings.qds177007504_dbConnectionString"
            connectionString="Data Source=qds177007504.my3w.com;Initial Catalog=qds177007504_db;User ID=qds177007504;Password=seaseasea"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>