<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SetU_1000.Properties.Settings.asaConnectionString"
            connectionString="Data Source=PC1212;Initial Catalog=asa;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>